<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="producerService" class="ProducerService">
        <property name="product" value="Bier!"></property>
    </bean>

    <bean id="consumerService" class="ConsumerService">
        <property name="producerService" ref="producerService"></property>
    </bean>

</beans>